:root {
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Open-Sans', sans-serif;

  --basic-greenish-light: #97CB95;
  --basic-greenish-dark: #60975F;
  --light-gradient: linear-gradient(180deg, #FFF 0%, #EFEDF7 100%);

  --box-shadow-bottom-main: 0px 4px 10px rgba(63, 51, 104, 0.1);
  --border-color: #E3E8EF;
  --text-heading: #121926;
  --bg-background: #EEF2F6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: var(--font-primary), sans-serif;
}